div {
  text-align: center;
  margin: 1rem;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  cursor: pointer;
}

body {
  background-color: rgb(31, 31, 31);
  color: white;
}

p {
  display: inline;
  text-align: center;
  margin-right: 10px;
}

h1 {
  cursor: pointer;
}

.thumbnails-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 20px; /* Adds space between grid items */
}

.image-container {
  background-color: rgb(31, 31, 31);
  padding: 20px;
}