div {
  text-align: center;
  margin: 1rem;
}

body {
  background-color: rgb(31, 31, 31);
  color: white;
}

p {
  display: inline;
  text-align: center;
  margin-right: 10px;
}

h1 {
  cursor: pointer;
}

.thumbnail {
  margin-left: 0;
  margin-right: 0;
  display: block;
  border: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  cursor: pointer;
  width: 85%; /* adjust to desired percentage */
  height: auto;
}

.thumbnail-card {
  background-color: rgb(31, 31, 31);
  padding: 0px;
  margin: 0px;
}

.thumbnail-cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 3 equal-width columns */
  gap: 0px; /* Adds space between grid items */
}

