div {
  text-align: center;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 0;
}

body {
  background-color: rgb(31, 31, 31);
  color: white;
}

p {
  display: inline;
  text-align: center;
}